body{
    background-color: rgb(228, 228, 228);
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(192, 192, 192);
    position: fixed;
    width: 100%;
}
.nav-links a, .contacts{
 text-decoration: none;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: rgb(255, 255, 255);
 font-weight: 500;
}
.nav-links{
    display: flex;
    list-style: none;
    flex-direction: row;
}
.nav-links li{
    padding: 0px 20px;
}
.nav-links li a{
    transition: color 0.5s ease 0.5s;
}
.nav-links li a:hover{
    color:rgb(49, 49, 49);
}
.doc{
    margin: auto;
    padding: 2px;
    width: 70%;
    height: min-content;
    border-radius: 4px;
    border: 2px solid black;
}
.main{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 180px;
}
.main a{
    text-decoration: none;
    color: black;
}
.f{
    background-color: rgb(189, 189, 189);
    padding: 5px 10px;
    margin-right: 70px;
}
h1{
    text-align: center;
}
.ff{
    background-color: rgb(189, 189, 189);
    padding: 5px 10px;
    margin-right: 70px;
}
.b{
    margin-right: 100px;
    margin-left: 180px;
}
table{
    width: 25%;
}